body {
    color: #777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

.article {
    background-color: #777;
    color: #ebebeb;
    margin: 10px;
    margin-bottom: 0px;
    padding-bottom: 3px;
    padding-top: 15px;
    position: relative;
    top: 10px;
}

.aside {
    background-color: #ebebeb;
    color: #777;
    font-size: 18px;
    float: left;
    height: 240px;
    left: 10px;
    margin: 0px 20px 25px 0px;
    padding: 120x;
    padding-top: 33px;
    text-align: center;
    width: 375px;
}

.clearfix::after {

}

.footer {
    background-color: #ebebeb;
    bottom: 42px;
    color: #777;
    margin: 20px 20px 20px 45px;
    padding: 35px;
    position: absolute;
    text-align: center;
    width: 820px;
}

.h1 {
    background-color: #ebebeb;
    color: #777;
    margin: 15px;
    padding: 15px;
    padding-top: 20px;
    width: 415px;
}

.header {
    background-color: #ebebeb;
    color: #777;
    margin: 10px 20px 20px 45px;
    padding: 35px;
    position: relative;
    text-align: center;
    top: 10px;
    width: 820px;
}

.nav {
    background-color: #ebebeb;
    color: #777;
    margin: 10px 20px 20px 45px;
    padding: 35px;
    text-align: center;
    width: 820px;
}

.p {
    background-color: #ebebeb;
    color: #777;
    margin: 15px;
    padding: 15px;
    width: 415px;
}

p.clear {
    clear: both;
}

.section {
    background-color: #ebebeb;
    color: #777;
    float: left;
    height: 240px;
    margin: 0px 20px 20px 45px;
    padding: 120x;
    padding-top: 33px;
    text-align: center;
    width: 495px;
}

.wrapper {
    background-color: #777;
    color: #ebebeb;
    height: 670px;
    position: absolute;
    width: 960px;
}